snippet header "Define comment header"
--------------------------------------------------------------------------------
-- ${0:Installed Plugins}
--------------------------------------------------------------------------------
endsnippet
