nvim/lazyvim.json
Brewfile.lock.json
Brewfile.local
Brewfile.local.lock.json
.DS_Store
.ruby-lsp/
node_modules/
**/node_modules/
.private_exports
pi/agent/auth.json
pi/agent/sessions

# theme specific ignores
.current-theme
themes/active-neovim.lua
themes/active.tmux
themes/active-sketchybar.lua
bordersrc
/nvim/lazy-lock.json
