{:templates {:alfred "osascript -e 'tell application \"Alfred 3\" to run trigger \"%s\" in workflow \"%s\" with argument \"\"'"
             :km "osascript -e 'tell application \"Keyboard Maestro Engine\" to do script \"%s\"'"
         	 :launch "open -a '%s'"}
 :input-sources {:en {:input_mode_id ""
              :input_source_id "com.apple.keylayout.US"
              :language "en"}
          :ar {:input_mode_id ""
              :input_source_id "com.apple.keylayout.ArabicPC"
              :language "ar"}
          }
 :simlayers {:launch-mode {:key :caps_lock} :alfred-mode {:key :k}}
 :devices {
	   :magicforce [{:product_id 41208 :vendor_id 1241}]
	   :macbook [{:product_id 627 :vendor_id 1452}]
	   :magickeyboard [{:product_id 615 :vendor_id 76}]}

 :main [
   {:des "Swap left_option with left_command"
	:rules [
		[:##left_option :##left_command :magicforce]
		[:##left_command :##left_option :magicforce]
	]
   }
   {:des "Swap fn and left_control"
	:rules [
		[:##fn :##left_control :macbook]
		[:##left_control :##fn :macbook]
		[:##fn :##left_control :magickeyboard]
		[:##left_control :##fn :magickeyboard]
	]
   }
   {:des "Swap non_us_backslash and grave_accent_and_tilde"
	:rules [
		[:##grave_accent_and_tilde :##non_us_backslash :macbook :en]
		[:##grave_accent_and_tilde :##non_us_backslash :magickeyboard :en]
		[:##non_us_backslash :##grave_accent_and_tilde :macbook :en]
		[:##non_us_backslash :##grave_accent_and_tilde :magickeyboard :en]
	]
   }
   {:des "Disable caps_lock"
    :rules [:caps_lock :left_control]
   }
   {:des "Launch apps"
    :rules [
     :launch-mode
     [:d [:launch "Dynalist"]]
     [:b [:launch "Google Chrome"]]
     [:s [:launch "Safari"]]
     [:c [:launch "Slack"]]
     [:a [:launch "Airmail"]]
     [:t [:launch "iTerm"]]
     [:v [:launch "Visual Studio Code"]]
     [:p [:launch "PhpStorm"]]
    ]
   }
   {:des "Launch Alfred workflows"
   	:rules [
   	 :alfred-mode
   	 [:t [:alfred "tabs" "com.clintonstrong.SearchTabs"]]
   	 [:q [:alfred "search folders" "nikivi.search.folders"]]
	 [:j [:alfred "run" "iansinnott.keyboardmaestro"]]
   	]
   }
 ]
}

