{
  :default true

	:templates {
		:launch "open -a '%s'"
		:yabai "/opt/homebrew/bin/yabai -m %s"
	}
	:devices {
		:macbookpro [{:product_id 835 :vendor_id 1452}]
		:ergodox [{:product_id 4871 :vendor_id 65261}]
		:mxmini [{:product_id 45929 :vendor_id 1133}]
		:nuphy_air60 [{:device_address "fd-d1-59-90-d2-68"}]
	}
  :simlayer-threshold 750
  :simlayers {
              :launch-mode {:key :k}
              :vim-movement {:key :v}
              }
	:main [
    {
     :des "Launch mode"
     :rules [
      :launch-mode
      [:b [:launch "Brave Browser"]]
      [:c [:launch "Calendar"]]
      [:d [:launch "Obsidian"]]
      [:f [:launch "Firefox"]]
      [:g [:launch "Telegram"]]
      [:s [:launch "Slack"]]
      [:t [:launch "Ghostty"]]
      [:spacebar :play_or_pause]
     ]
    }
    {
     :des "vim movement HJKL"
     :rules [
             :vim-movement
             [:h :left_arrow]
             [:j :down_arrow]
             [:k :up_arrow]
             [:l :right_arrow]
            ]
		}
		{
			:des "Swap fn and left_control"
			:rules [
				[:##fn :##left_control :macbookpro]
				[:##left_control :##fn :macbookpro]
			]
		}
		{
			:des "Swap non_us_backslash and grave_accent_and_tilde"
			:rules [
				[:##grave_accent_and_tilde :##non_us_backslash :macbookpro]
				[:##non_us_backslash :##grave_accent_and_tilde :macbookpro]
				[:##grave_accent_and_tilde :##non_us_backslash :mxmini]
				[:##non_us_backslash :##grave_accent_and_tilde :mxmini]
			]
		}
		{
			:des "caps_lock to Hyperkey"
			:rules [
							[:##caps_lock :!CTOleft_shift :macbookpro {:alone :escape}]
							[:##caps_lock :!CTOleft_shift :mxmini {:alone :escape}]
							]
			}
		{
		 :des "Tmux"
		 :rules [
			 [:backslash ["tmux-mode" 1] nil {:afterup ["tmux-mode" 0] :alone :backslash}]
		   [:c [:!Ta :c] ["tmux-mode" 1]]  ;; new window
		   [:s [:!Ta :hyphen] ["tmux-mode" 1]]  ;; horizontal split
		   [:v [:!Ta :backslash] ["tmux-mode" 1]]  ;; horizontal split
		   [:1 [:!Ta :1] ["tmux-mode" 1]]  ;; move to window #1
		   [:2 [:!Ta :2] ["tmux-mode" 1]]  ;; move to window #2
		   [:3 [:!Ta :3] ["tmux-mode" 1]]  ;; move to window #3
		   [:4 [:!Ta :4] ["tmux-mode" 1]]  ;; move to window #4
		   [:5 [:!Ta :5] ["tmux-mode" 1]]  ;; move to window #5
		   [:6 [:!Ta :6] ["tmux-mode" 1]]  ;; move to window #6
	   ]
		}
		{
			:des "nuphy mods"
			:rules [
							[:##tab :##grave_accent_and_tilde :nuphy_air60]
							[:##caps_lock :!CTOleft_shift :nuphy_air60 {:alone :tab}]
						 ]
		 }
	]
}

