gui:
  # If true, increase the height of the focused side window; creating an accordion effect.
  expandFocusedSidePanel: true
  expandedSidePanelWeight: 4
  mainPanelSplitMode: flexible
  authorColors:
    "*": "#babbf1"
  # If true, do not show a warning when rewording a commit via an external editor
  skipRewordInEditorWarning: true
  nerdFontsVersion: "3"
  # One of: 'margin' (default) | 'jump'
  scrollOffBehavior: jump
  # Config relating to the spinner.
  spinner:
    # The frames of the spinner animation.
    frames:
      - "∙∙∙"
      - "●∙∙"
      - "∙●∙"
      - "∙∙●"
    rate: 100
git:
  pagers:
    - useExternalDiffGitConfig: false
      pager: "delta --dark --paging=never"
  log:
    order: default
  autoForwardBranches: allBranches
update:
  # One of: 'prompt' (default) | 'background' | 'never'
  method: never
# If true, don't display introductory popups upon opening Lazygit.
disableStartupPopups: true
customCommands:
  - key: "G"
    command: "glab mr view -w {{.SelectedLocalBranch.UpstreamBranch}}"
    context: "localBranches"
    description: "Go to MR in gitlab"
  # retrieved from: https://github.com/jesseduffield/lazygit/wiki/Custom-Commands-Compendium#conventional-commit
  - key: "<c-v>"
    context: "global"
    description: "Create new conventional commit"
    prompts:
      - type: "menu"
        key: "Type"
        title: "Type of change"
        options:
          - name: "feat"
            description: "A new feature"
            value: "feat"
          - name: "refactor"
            description: "A code change that neither fixes a bug nor adds a feature"
            value: "refactor"
          - name: "style"
            description: "Changes that do not affect the meaning of the code"
            value: "style"
          - name: "fix"
            description: "A bug fix"
            value: "fix"
          - name: "chore"
            description: "Other changes that don't modify src or test files"
            value: "chore"
          - name: "ci"
            description: "Changes to CI configuration files and scripts"
            value: "ci"
          - name: "docs"
            description: "Documentation only changes"
            value: "docs"
          - name: "build"
            description: "Changes that affect the build system or external dependencies"
            value: "build"
          - name: "revert"
            description: "Reverts a previous commit"
            value: "revert"
          - name: "test"
            description: "Adding missing tests or correcting existing tests"
            value: "test"
      - type: "input"
        title: "Scope"
        key: "Scope"
        initialValue: ""
      - type: "input"
        title: "message"
        key: "Message"
        initialValue: ""
    command: "git commit --message '{{.Form.Type}}{{ if .Form.Scope }}({{ .Form.Scope }}){{ end }}: {{.Form.Message}}'"
    loadingText: "Creating conventional commit..."
